<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>CheckOut</title>
</head>
<body>
    <div class="main">
        <div class="menu">
            <div class="menu__logo">
                <a href="#"><span>Vi</span>Check</a>
            </div>
            <nav class="menu__list">
                <li class="menu__item">
                    <a href="#"><img src="../img/ico/menu.png" alt="Menu"></a>
                </li>
                <li class="menu__item">
                    <a href="#"><img src="../img/ico/stat.png" alt="Stat"></a>
                </li>
                <li class="menu__item">
                    <a href="#"><img src="../img/ico/search.png" alt="Search"></a>
                </li>
                <li class="menu__item">
                    <a href="#"><img src="../img/ico/chat.png" alt="Chat"></a>
                </li>
                <li class="menu__item">
                    <a href="#"><img src="../img/ico/voice.png" alt="Voice"></a>
                </li>
                <li class="menu__item">
                    <a href="#"><img src="../img/ico/setting.png" alt="Settings"></a>
                </li>
            </nav>
            <div class="menu__exit">
                <a href="#">
                    <img src="../img/ico/exit.png" alt="Exit">
                </a>
            </div>
        </div>
        <div class="content">
            <ul class="content__list">
                <li class="content__item">
                    <a href="#"><img src="../img/ico/content/01.png" alt="#">Подключенных сессий: 13</a>
                </li>
                <li class="content__item">
                    <a href="#"><img src="../img/ico/content/02.png" alt="#">Добавить участника</a>
                </li>
                <li class="content__item">
                    <a href="#"><img src="../img/ico/content/03.png" alt="#">Нарушение</a>
                </li>
                <li class="content__item">
                    <a href="#"><img src="../img/ico/content/04.png" alt="#">Начать запись</a>
                </li>
                <li class="content__item">
                    <a href="#"><img src="../img/ico/content/05.png" alt="#">Завершить сессию</a>
                </li>
            </ul>

            <div class="video">
                <img id="bg" src="{{ url_for('video_feed') }}">
                <div class="name">
                    <a href="#">ФИО студента<img src="../img/ico/content/voice.png" alt="Voice"></a>
                </div>
            </div>

            <div class="warning__wrap">
                <p class="warning__message">Здесь будет появляться уведомление</p>
            </div>
        </div>
        <div class="messages">
            <div class="messages__title">
                <h3>Messages</h3>
            </div>
            <div class="messages__wrapper">
                <p class="student">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptatibus!</p>
                <p class="teacher">Lorem ipsum dolor sit amet.</p>
                <p class="teacher">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, nemo!</p>
                <p class="student">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptatibus!</p>
            </div>
            <div class="messages__input">
                <input placeholder="Message here..." type="text">
                <a href="#"><img src="../img/ico/messages/send.png" alt="Send Messages"></a>
            </div>
        </div>
    </div>
</body>
</html>